body {
    font-family: 'Poppins', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
    text-shadow: 5px 5px 3px rgb(2, 95, 2)
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
}

main {
    padding: 2rem;
}

h2 {
    color: #4CAF50;
    font-weight: 600;
}

article {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 400;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.plan-img {
    width: 100%;
    max-width: 300px; /* Tamaño máximo de la imagen */
    height: auto;
    border-radius: 10px; /* Bordes redondeados */
    margin: 0.5rem 0; /* Espacio alrededor de la imagen */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.pros-contras {
    display: flex;
    justify-content: space-between;
    gap: 2rem; /* Espacio entre las columnas */
}

.pros, .contras {
    flex: 1; /* Ambas columnas ocuparán el mismo ancho */
}

h4 {
    color: #4CAF50;
    font-weight: 600;
}

ul {
    margin: 0.5rem 0;
    padding: 0;
    list-style-type: disc;
}

ul li {
    margin-bottom: 0.5rem;
}

/* Opcional: Asegúrate de que la disposición se ajuste en pantallas pequeñas */
@media (max-width: 768px) {
    .pros-contras {
        flex-direction: column; /* Cambia a diseño en filas en pantallas pequeñas */
    }
}

